/* to import the Poppins font from Google Fonts with various font weights (300 to 900) */
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
/* to import the Material Icons from Google Fonts with various font weights (300 to 900) */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons:300,400,500,600,700,800,900');

/* removes underline from all links globally */
* a {
  text-decoration: none;
  color: #000;
}

.top_dead_space {
  background-color: pink;
}

.container_navigation_bar_flex {
  display: flex;
  justify-content: space-around;
  background-color: #f1f1f1;
  height: 4vh;
}

.item_navigation_bar_flex {
  flex-grow: 1;
  font-family: 'Poppins', sans-serif;
  font-size: 1.65rem;
  font-weight: 800;
  text-align: center;
  /* border: 2px solid black; */
}

#navigation_3_layers_hover_effect_final{
  color: #fff;
  -webkit-text-stroke: 0.35px #000; /* adding a black outline to the text*/
  position: relative;
  display: inline-block;
}

#navigation_3_layers_hover_effect_final:before{
  content: attr(data-text);
  top: 0;
  left: 0;
  position: absolute;
}

#navigation_3_layers_hover_effect_final:after{
  content: attr(data-text);
  top: 0;
  left: 0;
  position: absolute;
}

#navigation_3_layers_hover_effect_final:hover:before {
  color: #f00;
  z-index: 1;
  transform: translate(3px, -3px);
  transition: 0.5s;
}

#navigation_3_layers_hover_effect_final:hover:after{
  color: #0ff;
  z-index: 2;
  transform: translate(6px, -6px);
  transition: 0.5s;
}

span {
  padding-left: 12px;
  padding-right: 12px;
}

/* ---------------------------------------------------------------------------------------------------------------------------- */
.cv_main {
  display: flex;
  flex-direction: column;
  padding: 12px 16px;
  border-radius: 4px;
  height: 100vh;
  /* border: 10px solid aqua; */
  font-family: 'Poppins', sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
}

.panel-container {
  display: flex;
  flex-direction: column;
  /* width: 400px; */
  border: 1px solid #ccc;
  border-radius: 4px;
}

.panel {
  display: flex;
  flex-direction: column;
}

.panel-header {
  display: flex;
  align-items: center;
  padding: 0px 16px;
  /* background-color: #f0f0f0; */
  cursor: pointer;
}

.panel-content {
  padding: 0px 16px;
  display: none;
}

/* ----- quick rotating gear animation ----- */
.gear-container {
  display: flex;
  align-items: center;
}

.gear {
  font-size: 30px;
  color: #6b6b6b;
  animation: rotate 5s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}