/* to import the Poppins font from Google Fonts with various font weights (300 to 900) */
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

/* removes underline from all links globally */
* a {
  text-decoration: none;
}

#navigation_3_layers_hover_effect{
  font-family: 'Poppins', sans-serif;
  color: transparent;
  -webkit-text-stroke: 0.35px #000; /* adding a black outline to the text*/
  font-size: 1.2em;
  font-weight: 800;
  /* line-height: 1.2em;*/ /*the space between lines of text */
  position: relative;
}

#navigation_3_layers_hover_effect:before,
#navigation_3_layers_hover_effect:after{
  content: attr(data-text);
  font-family: 'Poppins', sans-serif;
  font-size: 1.2em;
  font-weight: 800;
  top: 0;
  left: 0;
  position: absolute;
}

#navigation_3_layers_hover_effect:hover {
  -webkit-text-stroke: 0.35px #000;
  transition: 0.5s;
}

#navigation_3_layers_hover_effect:hover:before {
  color: #f00;
  z-index: 1;
  -webkit-text-stroke: 0.35px #000;
  transform: translate(4px, -4px);
  transition: 0.5s;
}

#navigation_3_layers_hover_effect:hover:after{
  color: #0ff;
  z-index: 2;
  -webkit-text-stroke: 0.35px #000;
  transform: translate(8px, -8px);
  transition: 0.5s;
}

span {
  padding-left: 12px;  /* Adjust as needed */
  padding-right: 12px; /* Adjust as needed */
}